
            #container {
                /* position */
                position: absolute;
                top: 0px;
                left: 0px;
                z-index: 1;
                /* dimensions */
                width: 1804px;
                height: 1507.00048828125px;
                /* colors */
                color: #f8f6f4;
                background-color: #f8f6f4;
                /* fonts */
                
                
                
                
                
                
                
            }
        
            #text-0 {
                /* position */
                position: absolute;
                top: 120.00011413268658px;
                left: 576.5px;
                z-index: 10;
                /* dimensions */
                width: 617px;
                height: 77px;
                /* colors */
                color: #162c63;
                
                /* fonts */
                font-family: Sans-serif;
                font-size: 64px;
                font-weight: 336;
                line-height: 1.2000000476837158;
                text-align: CENTER;
                
                
            }
        
            #text-1 {
                /* position */
                position: absolute;
                top: 213.00011444091797px;
                left: 688.5px;
                z-index: 20;
                /* dimensions */
                width: 594px;
                height: 58px;
                /* colors */
                color: #162c63;
                
                /* fonts */
                font-family: Sans-serif;
                font-size: 24px;
                font-weight: 336;
                line-height: 1.2000000476837158;
                text-align: CENTER;
                
                
            }
        
            #shape-3 {
                /* position */
                position: absolute;
                top: 335.00010681152344px;
                left: 80px;
                z-index: 30;
                /* dimensions */
                width: 1644px;
                height: 0px;
                /* colors */
                
                
                /* fonts */
                
                
                
                
                
                
                
            }
        
            #text-2 {
                /* position */
                position: absolute;
                top: 399.0002350665018px;
                left: 583px;
                z-index: 40;
                /* dimensions */
                width: 625px;
                height: 77px;
                /* colors */
                color: #162c63;
                
                /* fonts */
                font-family: Sans-serif;
                font-size: 64px;
                font-weight: 336;
                line-height: 1.2000000476837158;
                text-align: CENTER;
                
                
            }
        
            #text-3 {
                /* position */
                position: absolute;
                top: 492.00023651123047px;
                left: 688.5px;
                z-index: 50;
                /* dimensions */
                width: 476px;
                height: 58px;
                /* colors */
                color: #162c63;
                
                /* fonts */
                font-family: Sans-serif;
                font-size: 24px;
                font-weight: 336;
                line-height: 1.2000000476837158;
                text-align: CENTER;
                
                
            }
        
            #shape-2 {
                /* position */
                position: absolute;
                top: 614.000244140625px;
                left: 80px;
                z-index: 60;
                /* dimensions */
                width: 1644px;
                height: 0px;
                /* colors */
                
                
                /* fonts */
                
                
                
                
                
                
                
            }
        
            #text-4 {
                /* position */
                position: absolute;
                top: 678.000349388094px;
                left: 605.5px;
                z-index: 70;
                /* dimensions */
                width: 561px;
                height: 77px;
                /* colors */
                color: #162c63;
                
                /* fonts */
                font-family: Sans-serif;
                font-size: 64px;
                font-weight: 336;
                line-height: 1.2000000476837158;
                text-align: CENTER;
                
                
            }
        
            #text-5 {
                /* position */
                position: absolute;
                top: 771.0003509521484px;
                left: 688.5px;
                z-index: 80;
                /* dimensions */
                width: 427px;
                height: 58px;
                /* colors */
                color: #162c63;
                
                /* fonts */
                font-family: Sans-serif;
                font-size: 24px;
                font-weight: 336;
                line-height: 1.2000000476837158;
                text-align: CENTER;
                
                
            }
        
            #shape-1 {
                /* position */
                position: absolute;
                top: 893.0003662109375px;
                left: 80px;
                z-index: 90;
                /* dimensions */
                width: 1644px;
                height: 0px;
                /* colors */
                
                
                /* fonts */
                
                
                
                
                
                
                
            }
        
            #text-6 {
                /* position */
                position: absolute;
                top: 957.0004489116182px;
                left: 669px;
                z-index: 100;
                /* dimensions */
                width: 443px;
                height: 77px;
                /* colors */
                color: #162c63;
                
                /* fonts */
                font-family: Sans-serif;
                font-size: 64px;
                font-weight: 336;
                line-height: 1.2000000476837158;
                text-align: CENTER;
                
                
            }
        
            #text-7 {
                /* position */
                position: absolute;
                top: 1050.0004501342773px;
                left: 688.5px;
                z-index: 110;
                /* dimensions */
                width: 427px;
                height: 58px;
                /* colors */
                color: #162c63;
                
                /* fonts */
                font-family: Sans-serif;
                font-size: 24px;
                font-weight: 336;
                line-height: 1.2000000476837158;
                text-align: CENTER;
                
                
            }
        
            #shape-0 {
                /* position */
                position: absolute;
                top: 1172.00048828125px;
                left: 80px;
                z-index: 120;
                /* dimensions */
                width: 1644px;
                height: 0px;
                /* colors */
                
                
                /* fonts */
                
                
                
                
                
                
                
            }
        
            #text-8 {
                /* position */
                position: absolute;
                top: 1236.0005861296886px;
                left: 626px;
                z-index: 130;
                /* dimensions */
                width: 532px;
                height: 77px;
                /* colors */
                color: #162c63;
                
                /* fonts */
                font-family: Sans-serif;
                font-size: 64px;
                font-weight: 336;
                line-height: 1.2000000476837158;
                text-align: CENTER;
                
                
            }
        
            #text-9 {
                /* position */
                position: absolute;
                top: 1329.000587463379px;
                left: 688.5px;
                z-index: 140;
                /* dimensions */
                width: 427px;
                height: 58px;
                /* colors */
                color: #162c63;
                
                /* fonts */
                font-family: Sans-serif;
                font-size: 24px;
                font-weight: 336;
                line-height: 1.2000000476837158;
                text-align: CENTER;
                
                
            }
        